.pricebox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 2.5rem;
  /* border: 2px solid black; */
  margin-top: 150px;
  height: 500px;
}
.user-detail-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 2.5rem;
  /* border: 2px solid black; */
  margin-top: 350px;
  height: 500px;
}

.contact-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 2.5rem;
  /* border: 2px solid black; */
  margin-top: 550px;
  height: 500px;
}

#colorstrip {
  width: 100%;
  height: 200px;
  margin-top: 60px;
  background-color: rgb(8, 18, 59);
  line-height: 2;
}

#colorstrip > h2 {
  color: white;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  font-family: sans-serif;
}

.pricebox h6 {
  color: grey;
}
.user-detail-box h6 {
  color: grey;
}

.edit-button {
  right: 90px;
  /* bottom: 50%; */
  position: fixed;
  display: inline;
}
.edit-text {
  /* bottom: 68%; */
  top: 8%;
  right: 95px;
  position: fixed;
}
.edit-icon {
  position: fixed;
  left: 86%;
  top: 8%;
}

.input-amount-field,
.input-amount-field:focus {
  outline: none;
  border: none;
  position: fixed;
  left: 49%;
  bottom: 40.5%;
  /* font-size: 40px; */
  width: 30%;
}

::-webkit-input-placeholder {
  color: rgb(214, 213, 213);
}

.input-amount {
  position: absolute;
  left: 45%;
  font-size: 50px;
}

.rate-negotiable-checkbox {
  position: fixed;
  top: 65%;
  left: 41%;
}

.price-page-button {
  position: fixed;
  height: 50px;
  top: 80%;
  left: 6%;
  width: 90%;
}

form {
  position: fixed;
  left: 10%;
  /* top: 100%; */
}
.contact-text-field {
  width: 100%;
  position: fixed;
}

.whatsapp-color-strip {
  background-color: rgb(236, 234, 234);
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 71%;
  border-bottom: 1px solid rgb(187, 187, 187);
  border-left: 1px solid rgb(187, 187, 187);
  border-right: 1px solid rgb(187, 187, 187);
  /* margin-top: px; */
}

.updates-checkbox {
  position: fixed;
  top: 24%;
}

.name-field {
  /* bottom: 200px; */
  padding-top: 12%;
}

.rupee-symbol {
  position: absolute;
  left: 75%;
  top: 20%;
}

.verify-page-price {
  position: absolute;
  left: 78%;
  top: 20%;
}

.fixed-price {
  position: absolute;
  left: 78%;
  top: 30%;
}
.edit-number-icon {
  position: fixed;
  left: 36%;
  top: 60%;
}
.edit-number-text {
  position: fixed;
  left: 38%;
  top: 60%;
}
